/* General Styles */
body {
    margin: 0;
    background-color: rgb(217, 246, 251) ;
}

/* Nav Styles */
nav {
    display: flex;
    background-color: #1e1e3e;
    width: 100%;
    padding: 35px, 12%;
    box-shadow: 0 1px 4px;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

nav p, nav a {
    flex-direction: column;
    justify-content: flex-end;
}

nav p {
    font-size: 25px;
    color: #f7f7f7;
    font-weight: 600;
    transition: 0.3s ease;
}

nav a {
    padding: 10px 28px;
    background-color: #f7f7f7;
    color: #1e1e3e;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s ease;
}

nav a:hover {
    color: #a9c2e0;
    box-shadow: 0 0 25px #a9c2e0;
    color: #1e1e3e;
}

/* Footer Styles */
footer {
    background-color: #e0e0e0;
    font-size: 15px;
    display: flex;
    justify-content: center;
}

footer a {
    justify-content: center;
}

footer a:hover {
    box-shadow: 0 0 25px #e0e0e0;
    color: #1e1e3e;
}

/* Splash Section */
.splash {
  width: 100%;
  min-height: 100vh;
  background: #f7f7f7;
  display: grid;
  align-items: center;
  gap: 1em;
  padding: 30px 12% 0;
}

.splash h1 {
    font-size: 52px;
    line-height: 1.2;
    font-family: "Exo 2", serif;
    color: #1e1e1e;
}

.splash img {
    border-radius: 10%;
    width: 400px;
}

.splash p {
    max-width: 800px;
    font-size: 18px;
    margin: 25px 0 30px;
}

/* Horizontal Rules */
hr {
    border-color: #1e1e3e;
    border-radius: 50%;
}

/* Sections */
section {
    padding: 50px 20px;
    margin: 30px auto;
    max-width: 1000px;
    background-color: #f7f7f7;
    box-shadow: 0 6px 15px black;
}

/* Section Headings */
section h2 {
    font-family: "Inter", serif;
    font-size: 30px;
    color:#1e1e3e;
    margin-bottom: 20px;
}

/* Paragraph Styles */
section p {
    color: #1e1e3e;
    margin-bottom: 20px;;
}

/* link styles */
section a {
   color:#1e1e3e;
   text-decoration: none;
}
section a:hover {
    color: hotpink;
}

/* List Styles */
ul {
    list-style: square;
}

dl {
    display: grid;
}
dl dt{
    font-size: 17px;
}
dl dd{
    font-size: 16px;
}

/* Project Section */
.three-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 30px;
}

.card {
    text-align: center;
    justify-content: center;
    padding: 50px 20px;
    margin: 30px auto;
    max-width: 1000px;
    background-color: #f7f7f7;
    box-shadow: 0 6px 15px gray;
    border-radius: 3%;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    border-style: groove;
}

.card h3 {
    justify-content: center;
}

/* Contact Page Styles */
.one-col {
    align-items: center;
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form textarea {
    background-color: aliceblue;
    border-radius: 2%;
    box-sizing: border-box;
}

form input:focus, form textarea:focus {
    background-color: aliceblue;
}

form button {
    background-color: rgba(96, 126, 176, 0.105);
    font-size: 20px;
}

form button:hover {
    background-color: red;
}
